<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthShareUsageDescription
</key>
	<string>O FocusFlow usa os seus dados de atividade física (como passos) para ajustar de forma justa o tempo de utilização de apps de distração.
O FocusFlowO FocusFlow usa os seus dados de atividade física (como passos) para ajustar de forma justa o tempo de utilização de apps de distração.
usa os seus dados de atividade física (como passos) para ajustar de forma justa o tempo de utilização de apps de distração.
</string>
</dict>
</plist>
